[submodule "service-api/third_party/applicationinsights"]
	path = service-api/third_party/applicationinsights
	url = https://github.com/Microsoft/ApplicationInsights-node.js
	branch = develop
[submodule "service-api/third_party/ai-thirdparty"]
	path = service-api/third_party/ai-thirdparty
	url = https://github.com/MSLaguana/ai-third-party-patches
